* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  /* text-align: left;
  float: left; */
}

.sponsors {
  background: linear-gradient(
    90deg,
    rgba(0, 12, 25, 1) 0%,
    rgba(22, 111, 147, 1) 87%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 500%;
  padding: 2rem;
  block-size: 100%;
}

.about {
  background: linear-gradient(
    90deg,
    rgba(0, 12, 25, 1) 0%,
    rgba(22, 111, 147, 1) 87%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 500%;
  block-size: 100%;
  padding: 2rem;
}
.contact {
  background: black;
  height: 500%;
  block-size: 100%;
  padding: 2rem;
  vertical-align: top;
}

.events {
  background: linear-gradient(
    90deg,
    rgba(0, 12, 25, 1) 0%,
    rgba(22, 111, 147, 1) 87%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 500%;
  block-size: 100%;
}

.img:hover {
  /* width: '200px', */
  /* height: '200px', */
  transform: scale(1.1);
}

.register {
  background: #191970;
  padding: 1% 22% 1% 10%;
  /* border-color: #191970; */
  color: #fff;
  /* text-align: center; */
  /* margin: 0 auto; */
  font-size: 20px;
  border: 1px solid #191970;
  border-radius: 5px;
  width: 10%;
  height: 5%;
  cursor: pointer;
  text-align: center;
  margin-top: 85%;
  margin-left: 45%;
  /* margin-bottom: 90%; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
